{% extends "bookings/base.html" %}
{% block other %}

<div class="password-container">
    <div class="password-box">
        <h1>Change Password</h1>
        <h5>Old Password</h5>
        <input type="password" />
        <h5>New Password</h5>
        <input id="password1" type="password" />
        <h5>New Password</h5>
        <input id="password2" type="password" />
        <btn class="btn-1">Submit</btn>
    </div>
</div>


<script>
    $(".password-box .btn-1").on("click", function(){
        if(password1 != "") {
            if($("#password1").val() == $("#password2").val()) {
                new_password = $("#password1").val()
                old_password = $(".password-box input:first-of-type()").val()
                $.ajax({
                    url: '/ajax/37/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'old_password': old_password, 'new_password': new_password},
                    dataType: 'json',
                    type: 'GET',
                    global: false,
                    success: function(data) {
                        $("#password1").val("")
                        $("#password2").val("")
                        $(".password-box input:first-of-type()").val("")
                    }
                });
            }
        }
    });
    
</script>

{% endblock other %}