{% extends "bookings/base.html" %}
{% load static %}
{% block content %}

    <div class="title-header">
        <h1>Table Layout</h1>
    </div>
    <div class="btn-container">
        <btn class="btn-1 create-group">Create Group</btn>
    </div>
    <div class="tables">
    </div>
    
<script>
    updateTables()
    function updateTables() {
        pagePostion = document.documentElement.scrollTop;
        $(".tables").html("")
        $.ajax({
            url: '/ajax/34/',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            type: 'GET',
            global: false,
            success: function(data) {
                keys = Object.keys(data.tables)
                for(i=0; i< keys.length; i++) {
                    $(".tables").append('\
                        <div class="table-group">\
                            <h2 data-id="' + data.tables[keys[i]][0] + '" data-name="' + keys[i] + '" class="strike">' + keys[i] + '</h2>\
                            <div class="btn-container">\
                                <btn data-group="' + keys[i] + '" class="btn-1 add-table">Add Table</btn>\
                            </div>\
                            <div class="table-tables table-tables-' + i + '">\
                            </div>\
                        </div>\
                    ')
                    for(a=1; a < data.tables[keys[i]].length; a++) {
                        table = data.tables[keys[i]][a]
                        $(".table-tables-" + i).append('\
                            <div style="background-color: ' + table[3] + '" class="table-item" data-id="' + table[1] + '" data-people="' + table[2] + '" data-name="' + keys[i] + ' - ' + table[0] + '">\
                                <h4>' + table[0] + '</h4>\
                                <h6>' + table[2] + ' People</h6>\
                            </div>\
                        ')
                        if(table[2] == 0) {
                            $(".table-tables-" + i + " .table-item:nth-last-child(1)").css("background-color", "black")
                        }
                    }
                }
                $(".table-item").on("click", function(){
                    openModal("table-people-modal")
                    document.getElementById("table-num").innerHTML = $(this).data("name")
                    document.getElementById("table-people-input").value = $(this).data("people")
                    $("#table-people-input").data("id", $(this).data("id"))
                    $("#table-people-modal btn").data("id", $(this).data("id"))
                });
                $(".add-table").on("click", function(){
                    openModal("add-table-modal")
                    $("#add-table-modal input").focus()
                    $("#add-table-modal btn").data("group", $(this).data("group"))
                });
                $(".table-group h2").on("click", function(){
                    $("#delete-group-modal span").html($(this).data("name"))
                    openModal("delete-group-modal");
                    $("#delete-group-modal btn").data("id", $(this).data("id"));
                });
                document.documentElement.scrollTop = document.body.scrollTop = pagePostion;
            }
        });
    }

// Pre-assign options to max people input
    for (i=0; i < 151; i++) {
        $('#table-people-input').append('<option class="text-center" value='+i+'>' + i + ' People</option>')
    }

// Open Group Modal
    $(".create-group").on("click", function(){
        openModal("create-group-modal")
        $("#create-group-modal input").focus()
    });

// Adding/Deleting/Updating Tables and Groups
    $("#table-people-input").on("change", function(){
        var id = $(this).data("id")
        closeModal()
        updateTables()
        $.ajax({
            url: '/ajax/20/',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'table_id': id, 'people': this.value},
            dataType: 'json',
            type: 'GET',
            global: false,
            success: function(data) {
            }
        });
    });

    $("#delete-group-modal btn").on("click", function(){
        var id = $(this).data("id")
        $.ajax({
            url: '/ajax/32/',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': id},
            dataType: 'json',
            type: 'GET',
            global: false,
            success: function(data) {
                closeModal()
                updateTables()
            }
        }); 
    });

    $("#create-group-modal btn").on("click", function(){
        name = $("#create-group-modal input").val()
        if(name.length > 0) {
            var name = $("#create-group-modal input").val()
            var colour = $("#create-group-modal select").val()
            $.ajax({
                url: '/ajax/27/',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'name': name, 'colour': colour},
                dataType: 'json',
                type: 'GET',
                global: false,
                success: function(data) {
                    updateTables();
                    closeModal()
                }
            });
        }
    });

    $("#table-people-modal btn").on("click", function(){
        var id = $(this).data("id")
        $.ajax({
            url: '/ajax/30/',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': id},
            dataType: 'json',
            type: 'GET',
            global: false,
            success: function(data) {
                updateTables();
                closeModal()
            }
        }); 
    });

    $("#add-table-modal btn").on("click", function(){
        var name = $("#add-table-modal input").val()
        var group = $(this).data("group")
        $.ajax({
            url: '/ajax/28/',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'name': name, 'group': group},
            dataType: 'json',
            type: 'GET',
            global: false,
            success: function(data) {
                updateTables()
                $("#add-table-modal input").val("")
                $("#add-table-modal input").focus()
            }
        });
    });

// Set background colour of input to corresponding input colour
    $("#create-group-modal select > option").each(function() {
        $(this).css("background-color", $(this).val())
    });

// Set background colour of select to colour of selected colour
    $("#create-group-modal select").on("change", function(){
        $("#create-group-modal select").css("background-color", $(this).val())
    });
</script>
{% endblock content %}