{% extends "bookings/base.html" %}
{% load static %}
{% block content %}

<div class="title-header">
    <h1>Staff List</h1>
</div>

<div class="add-staff">
    <input type="text" placeholder="Staff Name">
    <btn class="btn-1 create-group">Add Staff</btn>
</div>

<div class="staff-container">
    <div class="staff">
    </div>
</div>
    

    

<script>
    updateStaff()
    function updateStaff() {
        pagePostion = document.documentElement.scrollTop;
        $(".staff").html("")
        $.ajax({
            url: '/ajax/35/',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            type: 'GET',
            global: false,
            success: function(data) {
                for(i=0; i < data.staff.length; i++) {
                    $(".staff").append('\
                    <div class="staff-item">\
                        </h4>' + data.staff[i] + '</h4>\
                    </div>');
                }
                document.documentElement.scrollTop = document.body.scrollTop = pagePostion;
            }
        });
    }


    $(".add-staff btn").on("click", function(){
        var name = $(".add-staff input").val();
        $.ajax({
            url: '/ajax/25/',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'name': name, 'booking': "True"},
            dataType: 'json',
            type: 'GET',
            global: false,
            success: function(data) {
                updateStaff()
                $(".add-staff input").val("").focus()
            }
        });
    });


    $("#addStaff").submit(function( event ) {
        event.preventDefault();
        var name = $("#addStaff input:first").val()
        var booking = $("#addStaff select").val()
        $.ajax({
            url: '/ajax/25/',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'name': name, 'booking': booking},
            dataType: 'json',
            type: 'GET',
            global: false,
            success: function(data) {
                location.reload();
            }
        });
    });

    function deleteStaff(id) {
        $.ajax({
            url: '/ajax/26/',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': id},
            dataType: 'json',
            type: 'GET',
            global: false,
            success: function(data) {
                location.reload();
            }
        });
    }
</script>


{% endblock content %}