{% extends "bookings/base.html" %}
{% load static %}
{% block other %}

<div class="stats-container">
  <h1>All-Time Stats</h1>
  <div class="stats-box">
      <div class="stats-content">
          <h4><i class='fas fa-walking fa-2x'></i></h4>
          <h3>{{ total_w }}</h3>
      </div>

      <div class="stats-content">
          <h4><i class='fas fa-phone fa-2x'></i></h4>
        <h3>{{ total_p }}</h3>
      </div>

      <div class="stats-content">
        <h4><i class='fas fa-laptop fa-2x'></i></h4>
        <h3>{{ total_o }}</h3>
      </div>
  </div>

  <h1>Today's Stats</h1>
  <div class="stats-box">
      <div class="stats-content">
          <h4><i class='fas fa-walking fa-2x'></i></h4>
          <h3>{{ today_w }}</h3>
      </div>

      <div class="stats-content">
          <h4><i class='fas fa-phone fa-2x'></i></h4>
        <h3>{{ today_p }}</h3>
      </div>

      <div class="stats-content">
        <h4><i class='fas fa-laptop fa-2x'></i></h4>
        <h3>{{ today_o }}</h3>
      </div>
  </div>

</div>
  

 

<script>
Chart.defaults.global.defaultFontColor = 'black';
Chart.defaults.global.defaultFontSize = 16;

</script>
{% endblock other %}