body {
    background-image: linear-gradient(-90deg, red, yellow);      
  }

.login-box {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: auto;
    width: 75%;
    padding: 10px;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.50);
}